input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.add-recipe-middle-wrapper{
  display: flex;
  height: auto;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  margin-top: 30px;
  /* border: 2px dashed red; */
}

.recipe-input{
  color: var(--color-brand);
  border-style: solid;
  border-color: var(--color-brand);
  width: 100%;
  height: 40px;
  border-radius: 7.5px;
  margin-top: 7.5px;
  font-size: 1em;
  border-width: 2px;
}

.recipe-image-upload{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 7.5px;
  cursor: pointer;
}

.recipe-image-upload-text{
  border-radius: 7.5px;
  margin: 0;
  padding-block-start: .46em;
  padding-block-end: .46em;
}

.recipe-image-upload-text:hover{
  background-color: var(--color-brand-30-transparent);
  border-radius: 0px;
}

.recipe-input-label{
  font-family: 'Nunito';
  font-weight: 600;
  color: var(--color-brand);
  font-size: 1.3em;
}

.recipe-input-wrapper{
  width: 600px;
  margin: 10px 0 10px 0;
}

.loading-bar-container{
  width: 100%;
}

.recipe-submit{
  color: var(--color-white);
  border-style: solid;
  border-color: var(--color-brand);
  background-color: var(--color-brand);
  width: 180px;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
  font-size: .9em;
}

/* Responsive
 ----------------------------- */
 @media screen and (max-width: 1150px) {
  .recipe-input-wrapper{
    width: 400px;
  }
}

 @media screen and (max-width: 800px) {
  .recipe-input-wrapper{
    width: 250px;
  }
  .recipe-image-upload-text{
    padding-block-start: .88em;
    padding-block-end: .88em;
  }
}