.recipe-container-small {
  height: 200px;
  width: 550px;
  min-height: 200px;
  min-width: 550px;
  border-radius: 20px;
  border: 3.5px solid var(--color-brand);
  margin: 10px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  position: relative;
}

.recipe-image {
  height: 180px;
  width: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 10px;
  border-radius: 16px 0px 0px 16px; /* top left, top right, bottom right, bottom left */
  border-right: 5px solid var(--color-brand);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.recipe-data-container {
  /* display: flex;
  flex-direction:column; */
  position: absolute;
  width: 325px;
  height: 100%;
  right: 10px;
}

.recipe-title {
  margin-top: 7px;
  margin-bottom: 0px;
}

.recipe-split-columns {
  display: flex;
}

.recipe-column {
  flex: 50%;
  margin-left: 10px;
}

.recipe-icon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
}

.recipe-text-small {
  font-size: 1em;
  position: relative;
  left: 10px;
  display: inline-block;
}

.recipeDelete {
  border-radius: 20px;
  border-style: solid;
  border-color: var(--color-brand);
  background-color: var(--color-brand);
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 400;
  font-size: .8em;
  color: var(--color-white);
  display: flex;
  font-family: 'Nunito';
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 800px) {
  .recipe-container-small {
    height: 100px;
    width: 275px;
    min-height: 100px;
    min-width: 275px;
  }
  .recipe-image {
    height: 90px;
    width: 90px;
    padding: 5px;
    border-radius: 15px 0px 0px 15px;
    border-right: 2.5px solid var(--color-brand);
  }
  
  .recipe-data-container {
    width: 162.5px;
    height: 100%;
    right: 5px;
    border-radius: 0px 15px 15px 0px; 
  }
  
  .recipe-title {
    margin-top: 3.5px;
    margin-bottom: 0px;
  }

  .recipe-column {
    margin-left: 5px;
  }
  
  .recipe-icon {
    width: 12.5px;
    height: 12.5px;
    top: 2.5px;
  }
  
  .recipe-text-small {
    font-size: .5em;
    left: 5px;
  }

  .recipeDelete {
    font-size: .5em;
    border-radius: 20px;
  }
}
