.all-recipes-middle-wrapper {
  display: flex;
  width: 90%;
  height: auto;
  flex-flow: row wrap;
  justify-content: center;
  /* border: 2px dashed red; */
}

.firebase-button {
  left: 125px;
}

.testdata-button {
  left: 230px;
}

/* Responsive
 ----------------------------- */
@media screen and (max-width: 1150px) {
  .recipe-input-wrapper {
    width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .firebase-button {
    left: 80px;
  }
  .testdata-button {
    left: 150px;
  }
}
