h1 {
  font-size: 2.5em;
}

.sign-in-wrapper {
  width: 600px;
  height: 400px;
  font-size: 1.1em;
  display: flex;
  flex-flow: column nowrap;
  /* border: 2px dashed red; */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.sign-in-input {
  color: var(--color-brand);
  border-style: solid;
  border-color: var(--color-brand);
  width: 400px;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
  font-size: 1em;
  border-width: 2px;
}

button.middle-centered {
  color: var(--color-white);
  border-style: solid;
  border-color: var(--color-brand);
  background-color: var(--color-brand);
  width: 180px;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
  font-size: 0.9em;
}

button.middle-centered:hover {
  border-color: var(--color-brand-light);
  background-color: var(--color-brand-light);
}

/* Responsive
 ----------------------------- */
@media screen and (max-width: 1150px) {
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.7em;
  }
  p {
    font-size: 0.8em;
  }
  .sign-in-wrapper {
    width: 400px;
    height: 300px;
  }
  .sign-in-input {
    width: 300px;
    height: 30px;
    border-radius: 7.5px;
    margin: 7.5px;
    font-size: 0.9em;
  }

  button.middle-centered {
    width: 140px;
    height: 30px;
    border-radius: 7.5px;
    margin: 7.5px;
    font-size: 0.7em;
  }
}
